<body bgcolor="black">
  <br>
  <p style="font-size:250px;text-align:center;font-family:Courier New;font-weight:bold">
<!--    <font color="white">Hello, </font> -->
      <font color="blue">Hello, </font> 
    <font color="#dc0032">.*</font>
  </p>
</body>
